
.Hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content 1fr;
  gap: var(--spacing-300);
  padding: var(--spacing-500) var(--spacing-600);
  min-height: 100dvh;
}

.Hero > .NavigationBar {
  grid-area: 1 / 1 / 2 / -1;
}

.Hero .Hero__heading {
  grid-area: 2 / 1 / -1 / -1;
  align-self: center;

  text-transform: uppercase;
  font-size: var(--fs-display-600);
  font-weight: var(--fw-900);
  letter-spacing: 1.2px;
}

.Hero .Hero__heading > span {
  display: block;
}

.Hero .Hero__heading > span:last-child {
  text-align: end;
}

.Hero .Hero__description {
  grid-area: 3 / 1 / -1 / -1;
}

@media screen and (min-width: 31.25em) {
  .Hero .Hero__heading {
    grid-area: 2 / 1 / -1 / -1;
  }

  .Hero .Hero__description {
    grid-area: 3 / 1 / -1 / 4;
  }
}

@media screen and (min-width: 46.875em) {
  .Hero {
    grid-template-columns: repeat(8, 1fr);
    gap: var(--spacing-300);
  }

  .Hero .Hero__heading {
    grid-area: 2 / 2 / -1 / -2;
  }
  
  .Hero .Hero__description {
    grid-area: 3 / 2 / -1 / 7;
  }
}

@media screen and (min-width: 64em) {
  .Hero {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-300);
  }
}