
.NavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 3.6rem;
}

.NavigationBar__links {
  display: none;
}

@media screen and (min-width: 56.25em) {
  .NavigationBar__links {
    display: flex;
    align-items: center;
    gap: var(--spacing-500);
  }
  
  .NavigationBar .MobileMenu {
    display: none;
  }
}

.NavigationBar__links a:link,
.NavigationBar__links a:visited {
  color: hsl(var(--accent-900));
}