:root {
  --primary: 0 0 100;
  --secondary: 0 0 90;

  --accent-900: 160 0 5;
  --accent-800: 160 0 40;
  --accent-700: 158 92 95;

  --ff-heading: "Montserrat";
  --ff-body: "Work Sans";

  --fw-900: 900;
  --fw-800: 800;
  --fw-600: 600;
  --fw-400: 400; 

  --fs-display-600: 3.6rem;
  --fs-display-500: 3rem;
  --fs-display-400: 2.6rem;
  --fs-display-300: 2rem;
  --fs-display-200: 1.8rem;
  --fs-display-100: 1.4rem;

  --fs-heading-600: 3rem;
  --fs-heading-500: 2.6rem;
  --fs-heading-400: 2rem;
  --fs-heading-300: 1.8rem;
  --fs-heading-200: 1.4rem;
  --fs-heading-100: 1.2rem;

  --fs-body-300: 1.8rem;
  --fs-body-200: 1.6rem;
  --fs-body-100: 1.4rem;

  --lh-body-300: 26px;
  --lh-body-200: 24px;
  --lh-body-100: 22px;

  --spacing-700: 6.4rem;
  --spacing-600: 3.2rem;
  --spacing-500: 2.4rem;
  --spacing-400: 1.6rem;
  --spacing-300: 1.4rem;
  --spacing-200: 1.1rem;
  --spacing-100: 1rem;

  --max-width: 160rem;
}

/* 

  sm - 40em
  md - 48em
  lg - 64em
  xl - 80em
  2xl - 96em

*/

/* >= 500px */

@media screen and (min-width: 31.25em) {
  :root {
    --fs-display-600: 4.4rem;
    --fs-display-500: 3.6rem;
    --fs-display-400: 3rem;
    --fs-display-300: 2.6rem;
    --fs-display-200: 2rem;
    --fs-display-100: 1.8rem;
  
    --fs-heading-600: 3.2rem;
    --fs-heading-500: 2.8rem;
    --fs-heading-400: 2.6rem;
    --fs-heading-300: 2.2rem;
    --fs-heading-200: 2rem;
    --fs-heading-100: 1.8rem;
  }
}

@media screen and (min-width: 48em) {
  :root {
    --fs-display-600: 5.2rem;
    --fs-display-500: 4.4rem;
    --fs-display-400: 3.6rem;
    --fs-display-300: 3rem;
    --fs-display-200: 2.6rem;
    --fs-display-100: 2rem;

    --fs-heading-600: 3.6rem;
    --fs-heading-500: 3rem;
    --fs-heading-400: 2.5rem;
    --fs-heading-300: 2rem;
    --fs-heading-200: 1.8rem;
    --fs-heading-100: 1.4rem;
  }
}

@media screen and (min-width: 64em) {
  :root {
    --fs-display-600: 6.2rem;
    --fs-display-500: 5.2rem;
    --fs-display-400: 4.4rem;
    --fs-display-300: 3.6rem;
    --fs-display-200: 3rem;
    --fs-display-100: 2.6rem;

    --fs-heading-600: 4.4rem;
    --fs-heading-500: 3.6rem;
    --fs-heading-400: 3rem;
    --fs-heading-300: 2.6rem;
    --fs-heading-200: 2rem;
    --fs-heading-100: 1.8rem;
  }
}

@media screen and (min-width: 80em) {
  :root {
    --fs-display-600: 7.4rem;
    --fs-display-500: 6.2rem;
    --fs-display-400: 5.2rem;
    --fs-display-300: 4.4rem;
    --fs-display-200: 3.6rem;
    --fs-display-100: 3rem;

    --fs-heading-600: 5.2rem;
    --fs-heading-500: 4.4rem;
    --fs-heading-400: 3.6rem;
    --fs-heading-300: 3rem;
    --fs-heading-200: 2.6rem;
    --fs-heading-100: 2rem;
  }
}

@media screen and (min-width: 96em) {
  :root {
    --fs-display-600: 9rem;
    --fs-display-500: 7.4rem;
    --fs-display-400: 6.2rem;
    --fs-display-300: 5.2rem;
    --fs-display-200: 4.4rem;
    --fs-display-100: 3.6rem;

    --fs-heading-600: 6.2rem;
    --fs-heading-500: 5.2rem;
    --fs-heading-400: 4.4rem;
    --fs-heading-300: 3.6rem;
    --fs-heading-200: 3rem;
    --fs-heading-100: 2.6rem;
  }  
}

@media screen and (min-width: 120em) {
  :root {
    --fs-display-600: 10.8rem;
    --fs-display-500: 9rem;
    --fs-display-400: 7.4rem;
    --fs-display-300: 6.2rem;
    --fs-display-200: 5.2rem;
    --fs-display-100: 4.4rem;

    --fs-heading-600: 7.4rem;
    --fs-heading-500: 6.2rem;
    --fs-heading-400: 5.2rem;
    --fs-heading-300: 4.4rem;
    --fs-heading-200: 3.6rem;
    --fs-heading-100: 3rem;
  }  
}

@media screen and (min-width: 46.875em) {
  :root {
    --spacing-700: 8rem;
    --spacing-600: 6.4rem;
    --spacing-500: 3.2rem;
    --spacing-400: 2.4rem;
    --spacing-300: 1.6rem;
    --spacing-200: 1.4rem;
    --spacing-100: 1.1rem;
  }
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  color: hsl(var(--accent-900));
  font-size: var(--fs-body-300);
  font-family: var(--ff-body);
  background-color: hsl(var(--secondary));

  position: relative;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 10%;

  content: "";
  pointer-events: none;
  filter: url(#texture);
}

svg:has(#texture) {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin-inline: auto;
  max-width: var(--max-width);
}

.logo {
  font-weight: var(--fw-600);
}

.body-text-300 {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: var(--fs-body-300);
  line-height: var(--lh-body-300);
}

.body-text-200 {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: var(--fs-body-200);
  line-height: var(--lh-body-200);
}

.body-text-100 {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  font-size: var(--fs-body-100);
  line-height: var(--lh-body-100);
}

